article {
    display: flex;
    margin: 2%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.section {
    background-color: lightgray;
}

.section p {
    margin: 5%;
    font-size: 17px;
    text-align: justify;
}

.section img {
    width: 94%;
    margin: 3%;
}

.small {
    width: 25%;   
}

.bigger {
    width: 48%;   
}

footer, header {
    background-color: lightgray;
    margin: 2%;
    padding: 2%;
}

footer p, header p {
    width: 90%;
    text-align: center;
    margin: auto;
}